@model KKN_UKK.Models.User.Nasabah

@{
    ViewData["Title"] = "CreateNasabah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: auto;">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="ActionNasabah">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Firstname" class="control-label "></label>
                        <input asp-for="Firstname" class="form-control " />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="MidleName" class="control-label "></label>
                        <input asp-for="MidleName" class="form-control " />
                        <span asp-validation-for="MidleName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastName" class="control-label "></label>
                        <input asp-for="LastName" class="form-control " />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NIK" class="control-label ">Nomor Induk Kependudukan</label>
                        <input asp-for="NIK" type="text" class="form-control" />
                        <span asp-validation-for="NIK" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Birtdate" class="control-label "></label>
                        <input asp-for="Birtdate" type="date" class="form-control date-selection " />
                        <span asp-validation-for="Birtdate" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="JK" class="control-label ">Jenis Kelamin</label>
                        <select asp-for="JK" type="date" class="form-control">
                            <option value="">Jenis Kelamin</option>
                            <option value="Laki-Laki">Laki-Laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        <span asp-validation-for="JK" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Alamat" class="control-label "></label>
                        <textarea asp-for="Alamat" class="form-control" ></textarea>
                        <span asp-validation-for="Alamat" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="ListNasabah">Back to List</a>
        </div>
    </div>
</div>
<hr />


@section Script{ 
<script>
    $(document).ready(function () {
        //$('.date-selection').datetimepicker({
        //    format: 'DD/MM/YYYY'
        //});
    }); 
</script>

}
